.theme2 {
    background: #0f172a;
    color: #f8fafc;
    font-family: serif;
    font-weight: bold;
}

.theme2 header {
    background-color: #1e293b;
    color: #ffffff	;
}


.theme2 .mobile-nav {
    background: #1e293b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #e0e0e0;
}

.theme2 button {
    background-color: #0f172a;
}

.theme2 button:hover {
    background-color: #1e293b;
    color: #f8f9fa;
}

.theme2 select {
    background: #2c2c2c;
}
